        <!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">Welcome to Bullworth Academy.</h1>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="~/Content/img/logo.jpg" alt="Bullworth Academy Logo" /></div>
        </div>
    </div>
</header>
<div class="m-5"></div>
<div class="container px-5 text-center">
    <h4 class="text-dark">SAT Application Documenatation</h4>
    <a href="~/Content/assets/SATDocumentation.pdf" target="_blank" rel="noreferrer" class="btn btn-outline-dark w-25"><i class="fas fa-file-word"></i></a>
    <br/>
    <hr />
    <h4 class="text-dark">SAT Requirement Summary</h4>
    <a href="~/Content/assets/SATRequirementSummary.pdf" target="_blank" rel="noreferrer"class="btn btn-outline-dark w-25"><i class="fas fa-file-word"></i></a> 
</div>